[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/api/*"
  to = "https://loan-link-server-hpwdmvo98-shamim0183s-projects.vercel.app/api/:splat"
  status = 200
  force = true

[build.environment]
  NODE_VERSION = "18"
